<!--
  The Users Layout
  @author Tim De Paepe <tim.depaepe@tinx.be>
-->

<template name="users">
   <div class="box">
    <div class="box-header with-border">
      <div class="row">
        <div class="col-xs-6">
          <h3 class="box-title">{{title}}</h3>
        </div>
        <div class="col-xs-6">
          <div class="btn-group pull-right" role="group" aria-label="Tools">
            <button style="width:50px;" class="btn btn-xs btn-success btnAdd">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      {{#if hasUsers}}
        <table class="table table-bordered table-small">
          <tbody>
            <tr>
              <th style="width:25%">Username</th>
              <th style="width:25%">E-mail</th>
              <th style="width:25%"></th>
            </tr>
            {{#each users}}
              <tr>
                <td>
                  {{username}}
                </td>
                <td>
                  {{email}}
                </td>
                <td>
                  <div class="btn-group pull-right" role="group" aria-label="Tools">
                    <button type="button" class="btn btn-xs btn-default btn-secondary edit">
                      <i class="fa fa-pencil-square-o"></i>
                    </button>
                    <button type="button" class="btn btn-xs btn-default btn-secondary change-password">
                        <i class="fa fa-key"></i>
                    </button>
                    {{#unless isGod}}
                      <button type="button" class="btn btn-xs btn-danger btn-secondary delete">
                        <i class="fa fa-times"></i>
                      </button>
                    {{/unless}}
                  </div>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{else}}
        There are no users at this moment.
      {{/if}}
    </div>
  </div>

  {{> adduser }}
  {{> edituser }}
  {{> changepassword }}

</template>