/*
 * The Frontend Stylesheets
 *
 * @author Tim De Paepe <tim.depaepe@gmail.com>
 */

.frontend-body {
    background-color: @front-background-color;
    color: @front-text-color;
}

/**
 * IMPORTS
 */

@import "./variables.import.less";
@import "./helpers.import.less";