/*
 * Some stylesheets that may help
 *
 * @author Tim De Paepe <tim.depaepe@gmail.com>
 */

.center {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
} 