// Admin LTE variables and Mixins
@import (reference) "variables.import.less";
@import (reference) "mixins.import.less";
@import (reference) "../bootstrap/mixins.import.less";
/*
 * Component: Label
 * ----------------
 */
.label-default {
  background-color: @gray-lte;
  color: #444;
}

.label-danger {
  &:extend(.bg-red);
}

.label-info {
  &:extend(.bg-aqua);
}

.label-warning {
  &:extend(.bg-yellow);
}

.label-primary {
  &:extend(.bg-light-blue);
}

.label-success {
  &:extend(.bg-green);
}
