<!--
  Change password layout
  @author Tim De Paepe <tim.depaepe@gmail.com>
-->

<template name="changepassword">
  <div id="changePassword" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Change Password</h4>
        </div>
        {{#autoForm collection="Users" schema=Users doc=user id="changePasswordForm" type="update"}}
          <div class="modal-body">
              <div class="form-group">
                <label>New password</label>
                <input type="password" class="form-control txtPassword">
              </div>
              <div class="form-group">
                <label>Retype password</label>
                <input type="password" class="form-control txtCheckPassword">
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary submit">Submit</button>
          </div>
        {{/autoForm}}
      </div>
    </div>
  </div>
</template>
