<template name="Backend_login">
    <div id="login">
        <div class="login-box">

            <div class="login-logo">
                {{setting "siteTitle"}}
            </div>

            <!-- /.login-logo -->
            <div class="login-box-body">
                <p class="login-box-msg">Sign in to start</p>

                <div class="form-group has-feedback">
                    <input type="text" class="form-control txtUsername txtLogin" placeholder="Username">
                    <span class="fa fa-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control txtPassword txtLogin" placeholder="Password">
                    <span class="fa fa-key form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat btnLogin">Login</button>
                    </div>
                    <!-- /.col -->
                </div>
            </div>
            <!-- /.login-box-body -->

        </div>
    </div>

    {{> notifications}}

</template>