<template name="Backend_admin">

    <div id="backend">

        <div class="wrapper" style="height: auto; min-height: 100%;">

            <!-- MAIN HEADER -->
            <header class="main-header">
                <a href="{{urlFor 'Backend.dashboard'}}" class="logo">
                    <!-- mini logo for sidebar mini 50x50 pixels -->
                    <span class="logo-mini"><b>A</b>PP</span>
                    <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg">{{setting "siteTitle"}}</span>
                </a>
                <nav class="navbar navbar-static-top" role="navigation">
                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                </nav>
            </header>

            <!-- SIDEBAR -->
            <aside class="main-sidebar">
                <section class="sidebar">
                    <ul class="sidebar-menu tree" data-widget="tree">
                        {{#each links}}
                            {{#if hasChildren}}
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa-{{icon}}"></i>
                                        <span>{{label}}</span>
                                        <span class="pull-right-container">
                                            <i clas="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        {{#each children}}
                                            <li>
                                                <a href="{{path}}">
                                                    <i class="fa fa-circle-o"></i> <span>{{label}}</span>
                                                </a>
                                            </li>
                                        {{/each}}
                                    </ul>
                                </li>
                            {{else}}
                                <li>
                                    <a href="{{path}}">
                                        <i class="fa fa-{{icon}}"></i> <span>{{label}}</span>
                                    </a>
                                </li>
                            {{/if}}
                        {{/each}}
                        <li>
                            <a href="" class="btnLogout">
                                <i class="fa fa-sign-out"></i> <span>Logout</span>
                            </a>
                        </li>
                    </ul>
                </section>
            </aside>

            <!-- CONTENT -->
            <div class="content-wrapper" style="min-height: 298px;">
                <!-- Main content -->
                <section class="content container-fluid">
                    {{> Template.dynamic template=main }}
                </section>
                <!-- /.content -->
            </div>

        </div>
    </div>

    {{> notifications}}

</template>