<!--
  The Settings Layout
  @author Tim De Paepe <tim.depaepe@tinx.be>
-->

<template name="settings">
   <div class="box">
    <div class="box-header with-border">
      <div class="row">
        <div class="col-xs-6">
          <h3 class="box-title">{{title}}</h3>
        </div>
        <div class="col-xs-6">
          <button style="width:50px;" class="btn btn-xs btn-success btnAdd pull-right">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      {{#if hasSettings}}
        <table class="table table-bordered table-small">
          <tbody>
            <tr>
              <th style="width:15%">Key</th>
              <th style="width:85%">Value</th>
            </tr>
            {{#each settings}}
              <tr>
                <td>
                  {{key}}
                </td>
                <td>
                  <div class="input-group input-group-xs">
                    <input type="text" class="form-control {{key}}" value="{{value}}">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-xs btn-success btn-secondary save">Save</button>
                      <button type="button" class="btn btn-xs btn-danger btn-secondary delete">Delete</button>
                    </span>
                  </div>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{else}}
        There are no settings at this moment.
      {{/if}}
    </div>
  </div>

  {{> addsetting}}

</template>