<!--
  Add user layout
  @author Tim De Paepe <tim.depaepe@gmail.com>
-->

<template name="adduser">
  <div id="addUser" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Add User</h4>
        </div>
        {{#autoForm collection="Users" schema=Users id="addUserForm" type="insert"}}
          <div class="modal-body">
              {{> afQuickField name='username'}}
              {{> afQuickField name='email'}}
              {{> afQuickField name='password' type='password'}}
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary submit">Submit</button>
          </div>
        {{/autoForm}}
      </div>
    </div>
  </div>
</template>
